a{
  text-decoration: none !important;
}
.btn-main, .btn:hover{
  background: #2F4CB0 !important;
  color: #fff;
}

.pcoded-submenu-slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
  display: block !important;
  -webkit-transition: all 2s linear 0s;
  transition: all 2s linear 0s;
}

.pcoded-submenu-closed {
  display: none !important;
	max-height: 0;
}
.pcoded-hasmenu, .nav-item{
  cursor: pointer;
}